{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Log in" %}{% endblock %}

{% block content %}

<h1>{% trans "Log in / Sign up" %}</h1>
<div class="login">
{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>To log into Ajh Fun, sign in with Google.</p>

<div class="socialaccount_ballot">

    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
</div>

{% include "socialaccount/snippets/login_extra.html" %}
{% endif %}
</div>
{% endblock %}
