{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Classes</title> 
  <meta name="viewport" content="width=device-width">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://ajh1.net/class">
  <meta property="og:title" content="Ajh Fun 2">
  <meta property="og:description" content="Ajh Fun 2 is the best platform for education, and school help, whether it's math, science, history, you name it! We are a community for students, by students.">
  <meta property="og:image" content="https://ajh1.net/class/icon.png">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <link rel="icon" type="image/png" href="/images/me.png">
  </head>
  <body>
<script src="/static/js/script.js"></script>

    <nav>
<a href="/">Home</a>
<a href="/">Games</a>
<a href="/changelog">Changelog</a>
<a href="/links">Links</a>
<div style="display:flex; justify-content: left; align-items: center; flex: 1;">
      <form method="GET" action="/search/">
        <input class="searchbar"type="search" name="q" aria-label="search"placeholder="Search for games ..."/>
     <button class="button" type="submit"><i class="bi bi-search"></i></button>
        </form>
</div>
    </nav>
      <div id="wrapper">

      {% block content %}{%endblock%}
  </div>
<footer>2023 <a href="https://ajh1.net/">Ajh</a></footer>
  </body>
</html>