{% extends "main/base.html" %}
{% block content %}
Page visits:<br>
<div align='left'><a href='https://www.free-website-hit-counter.com'><img class="hitcounter" src='https://www.free-website-hit-counter.com/c.php?d=9&id=145273&s=288' border='0'></a></div>

<h1>Welcome to Ajh Fun 2 <span class="wave">👋</span></h1>
<p>This is the predecessor of both Ajh Fun and NBJG which is better than ever.</p>
<p>
I would like to advise that is not fully released, and is <strong>not finished</strong>. Lots of bugs and broken things are bound to happen. I am also not responsible for any ads in-game. This is not monetized..
</p>
<p>
If you do encounter server errors like "this repl is popular right now", "repl not available", etc., hard-refresh the page by pressing CTRL + SHIFT + R
</p>


<div id="gamewrapper">
{% for data in data|dictsort:"name" %}
    <a href="{% url "game" data.id%}">
    <img src="{{ data.icon }}" style="max-width:100%;" />
    <h4 class="text-wrap">{{data.name|truncatechars:20}}</h4>
    </a>
  
{% endfor %}
</div>

{% endblock %}