{% extends "main/base.html" %}
{% block content %}


<h1>Links</h1>
<div class="scrolldiv">
<h3>Alternate Links</h3>
<p><a class="underlininga" href="https://f2.ajh499.repl.co">f2.ajh499.repl.co</a><br>
<a class="underlininga" href="https://renenenenenene.ajh499.repl.co/">renenenenenene.ajh499.repl.co</a><br>
<a class="underlininga" href="https://ajh-fun-2.ajh499.repl.co">ajh-fun-2.ajh499.repl.co (Original Replit link)</a><br>
<a class="underlininga" href="https://ajh1.net/class">ajh1.net/class (Main link)</a>
</p>
<h3>Other Links</h3>
<p>
<a class="underlininga" href="https://ajh1.net/">About Me</a><br>
<a class="underlininga" href="https://fun.ajh499.repl.co">Ajh Fun 1</a><br>
<a class="underlininga" href="https://nbjg.ajh499.repl.co">NBJG</a></p>
</div>
{% endblock %}