{% extends "main/base.html" %}
{% block content %}

<div class="welcome">
<div align='center'><img src='https://www.free-website-hit-counter.com/c.php?d=9&id=146139&s=2' border='0' alt='Free Website Hit Counter'><br / ></div>
<h1>Welcome back <span class="wave">🎮</span></h1>
<p>⭐ <b>Trusted by over 57 students at Ponus, Nathan Hale, & West Rocks</b></p>
<p>
I am not responsible for any ads in-game. They're not mine.
</p>
<p>
If you do encounter errors when going to a page, press <b>CTRL + SHIFT + R</b> and it should work.
</p>
<p>
* If login doesn't work, try <a class="underlininga" href="https://ajh-fun-2.ajh499.repl.co/">here</a>.
</p>
<p>* If you want one of your reviews to be deleted or have the star rating changed, contact me <a class="underlininga" href="mailto:3001330@students.norwalkps.org">here (norwalkps only)</a> or <a class="underlininga" href="mailto:a@yazzi.com">here (other people)</a>.</p>
</div>
<div id="gamewrapper">
{% for data in data|dictsort:"name" %}
  {% if not "Duck Life" in data.name %}
    <a href="{% url "game" data.id%}">
    <img src="{{ data.icon }}" style="max-width:100%;" />
    <h4 class="text-wrap">{{data.name|truncatechars:20}}</h4>
    </a>
  {% endif %}
{% endfor %}
</div>

{% endblock %}