@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

html, body {
  height: 100%;
  width: 100%;
  font-size: 1.1em;
  -webkit-font-smoothing: antialiased;
  color: var(--text);
  background: var(--primary);
  margin: none;
  font-family: 'Hind Madurai', Verdana, Tahoma, sans-serif !important;
  scroll-behavior: smooth;
}

:root {
  --primary: #0a0a0a;
  --secondary: #1e1e1e;
  --tertiary: #202020;
  --text: #fbfbfb;
  --text-accent: #9e9e9e;
  --text-colored: #d1b1fc;
  --navbar: #040404;
  --hyperlink-hover: #b785fa;
}
.login {
  padding: 3em;
  border: var(--secondary) solid;
  border-radius: 2em;
  text-align: center;
  
}
.welcome {
  padding: 3em;
  border: var(--secondary) solid;
  border-radius: 2em;
  text-align: center;
  
}
i {
color: var(--text);
font-size: 1em;
}

iframe {
text-align: center;
width: 20em;
height: auto;
}


h1, h2, h3, h4, h5, h6 {
color: var(--text);
margin: 0;
}

h1 {
font-size: 3em;
}

h3 {
font-size: 1.8em;
}

p {
color: var(--text);
margin: 0;
}

img {
width: 9em;
height: auto;
border-radius: 1em;
margin: 0.25em;
transition: transform 0.1s ease-in-out;
}

.hitcounter {
width: 9em;
height: auto;
border-radius: 1em;
margin: 0.3em;
transition: unset;
aspect-ratio: unset;
}

img:hover, button:hover {
transform: scale(1.08);
}

img:after, button:after, .hitcounter:hover {
transform: scale(1);
}

@keyframes game {
  0% {
  transform: rotate(0deg);
  }
  100% {
  transform: rotate(360deg);
  }
}

nav {
display: flex;
align-items: center;
padding: 0.8em;
top: 0px;
margin: 0px;
background: var(--navbar);
position: fixed;
z-index: 1;
width: 100%;
font-size: 1.1em;
}

hr {
border-radius: 1em;
height: 0.2em;
background: var(--text-accent);
border: solid 2px var(--text-accent);
width: 100%;
}

div {
padding: 0px;
margin: 0px;
}

nav > a {
padding-left: 1em;
padding-right: 3em;
color: inherit;
text-decoration: none;
transition: color 0.5s ease;
}

.scrolldiv {
width: 98%;
margin: 0 auto;
border-radius: 1em;
padding: 1em;
height: 60vh;
overflow-x: hidden;
overflow-y: scroll;
text-align: left;
align-self: center;
border: solid 2px var(--text);
}

nav > a:hover {
color: var(--hyperlink-hover);
transform: translateY(0em);
}

a {
color: var(--text);
text-decoration: none;
display: inline-block;
position: relative;
text-align: center;
}

.underlininga {
color: var(--text);
text-decoration: underline;
display: inline-block;
position: relative;
text-align: left;
}

.underlining > a:hover {
color: var(--hyperlink-hover);
transform: translateY(0em);
}

#wrapper {
padding-left: 2em;
padding-right: 2em;
padding-bottom: 2em;
padding-top: 5em;
margin: 0;
}

table {
border: none;
text-align: left;
}

.wave {
-webkit-user-select: none;
-ms-user-select: none;
user-select: none;
}

.wave:hover {
display: inline-block;
animation: wave 1s ease-in-out infinite;
}

@keyframes wave {
0% {
transform: rotate(0deg);
}
10% {
transform: rotate(-10deg);
}
20% {
transform: rotate(12deg);
}
30% {
transform: rotate(-10deg);
}
40% {
transform: rotate(9deg);
}
50% {
transform: rotate(0deg);
}
100% {
transform: rotate(0deg);
}
}

::-moz-selection, ::selection {
  color: var(--primary);
  background: var(--text);
}

.imagecontainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto;
}

.img-table {
  display: flex;
  flex-wrap: wrap;
  align-content: justify;
}

.img-cell {
  position: relative;
  padding: 1em;
  margin: 0;
  text-align: center;
}

.img-cell img {
  width: 100%;
  max-width: 250px;
  height: auto;
  display: inline-block;
}

@media (max-width: 700px) {
  .img-cell {
    width: 100%;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-cell:hover .overlay {
  opacity: 1;
}

.overlay p {
  color: var(--text);
  font-size: 1rem;
  text-align: center;
  padding: 0.5em;
}

footer {
color: var(--text);
text-align: center;
padding-top: 1em;
padding-left: 1em;
padding-right: 1em;
padding-bottom: 0.2em;
}

.text-wrap {
  text-align: center;
  inline-size: 200px;
    overflow-wrap: break-word;
}

.button {
  padding: 1em;
  border-radius:1em;
  color:#ffff;
  border:none;
  background: var(--secondary);
  transition: transform 0.2s ease-in-out;
}

.my-1{
margin-top:1em;
margin-bottom:1em;
}

.fullScreen {
    width: 100%;
    height: 100% !important;
    position: fixed;
    top: 0;
    left: 0;
  z-index: 1;
}

.searchbar {
background: var(--secondary);
color: var(--text);
padding: 1em;
border: solid 2px var(--primary);
font-family: 'Hind Madurai', sans-serif;
border-radius: 1em;
transition: border 0.2s ease-in-out;
}

.searchbar:hover {
border: solid 2px var(--hyperlink-hover);
}

.searchbar:after {
border: solid 2px var(--text);
}

.searchbar:focus {
outline: none;
border: solid 2px var(--hyperlink-hover);
}

.searchbar > input {
  padding: 1em;
  border-radius: 1em;
  background: var(--secondary);
  font-size: 0.8em;
}

#gamewrapper {
display: flex-wrap;
margin-bottom: 1em;
margin-top: 1em;
margin-left: 0.25em;
margin-right: 0.1em;
gap: 2em;
}
.rating {
  --dir: right;
  --fill: #b785fa;
  --fillbg: rgba(100, 100, 100, 0.6);
  --heart: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 21.328l-1.453-1.313q-2.484-2.25-3.609-3.328t-2.508-2.672-1.898-2.883-0.516-2.648q0-2.297 1.57-3.891t3.914-1.594q2.719 0 4.5 2.109 1.781-2.109 4.5-2.109 2.344 0 3.914 1.594t1.57 3.891q0 1.828-1.219 3.797t-2.648 3.422-4.664 4.359z"/></svg>');
  --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
  --stars: 5;
  --starsize: 3rem;
  --symbol: var(--star);
  --value: 1;
  --w: calc(var(--stars) * var(--starsize));
  --x: calc(100% * (var(--value) / var(--stars)));
  block-size: var(--starsize);
  background: none;
  inline-size: var(--w);
  position: relative;
  touch-action: manipulation;
  -webkit-appearance: none;
}
[dir="rtl"] .rating {
  --dir: left;
}
.rating::-moz-range-track {
  background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
  block-size: 100%;
  mask: repeat left center/var(--starsize) var(--symbol);
}
.rating::-webkit-slider-runnable-track {
  background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
  block-size: 100%;
  mask: repeat left center/var(--starsize) var(--symbol);
  -webkit-mask: repeat left center/var(--starsize) var(--symbol);
}
.rating::-moz-range-thumb {
  height: var(--starsize);
  opacity: 0;
  width: var(--starsize);
}
.rating::-webkit-slider-thumb {
  height: var(--starsize);
  opacity: 0;
  width: var(--starsize);
  -webkit-appearance: none;
}
.rating, .rating-label {
  display: block;
  font-family: ui-sans-serif, system-ui, sans-serif;
}
.rating-label {
  margin-block-end: 1rem;
}

/* NO JS */
.rating--nojs::-moz-range-track {
  background: var(--fillbg);
}
.rating--nojs::-moz-range-progress {
  background: var(--fill);
  block-size: 100%;
  mask: repeat left center/var(--starsize) var(--star);
}
.rating--nojs::-webkit-slider-runnable-track {
  background: var(--fillbg);
}
.rating--nojs::-webkit-slider-thumb {
  background-color: var(--fill);
  box-shadow: calc(0rem - var(--w)) 0 0 var(--w) var(--fill);
  opacity: 1;
  width: 1px;
}
[dir="rtl"] .rating--nojs::-webkit-slider-thumb {
  box-shadow: var(--w) 0 0 var(--w) var(--fill);
}